Windows => Open cmd and run:

1) pip install virtualenv
2) virtualenv -p python venv
3) venv\Scripts\activate
4) pip install djangorestframework
5) pip install django-cors-headers
6) python manage.py runserver